

@{
    ViewBag.Title = "GioHangPartial";

}

<style type="text/css">
</style>

<li>
    <a href="@Url.Action("GioHang","GioHang")">
        <i class="bi bi-cart"></i>
        (@ViewBag.TongSoLuong)
    </a>
</li>

