
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style type="text/css">
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .logo img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="~/image/logo login.png" />
    </div>
</body>
</html>

